<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.LV_STND_META.mappers.MyMapper">
    <!-- 회사 정보를 가져오는 프로시저 호출 -->
    <resultMap id="getCompList" type="com.example.LV_STND_META.dto.CommonDto">
        <result property="mstCd" column="MST_CD"/>
        <result property="mstNm" column="MST_NM"/>
        <!-- 추가 필드에 대한 매핑 -->
    </resultMap>

    <select id="getCompList" resultMap="getCompList">
        <![CDATA[{
        call USP_SELECT_COMPANY()
        }]]>
    </select>

</mapper>
