<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout/lv_layout_login">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png"/>
  <link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png"/>
  <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png"/>
  <link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png"/>
  <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png"/>
  <link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png"/>
  <link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png"/>
  <link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png"/>
  <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png"/>
  <link rel="icon" type="image/png" sizes="192x192" href="images/favicon/android-icon-192x192.png"/>
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png"/>
  <link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png"/>
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png"/>
  <link rel="manifest" href="images/favicon/manifest.json"/>
  <meta name="msapplication-TileColor" content="#ffffff"/>
  <meta name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png"/>
  <meta name="theme-color" content="#ffffff"/>
  <title>동서식품</title>
  <link rel="stylesheet" th:href="@{CSS/login.css}"/>
</head>
<body>
<div layout:fragment="content" class="login_wrap">
  <div class="login_box">
    <h1 class="login_h1">비밀번호 변경</h1>

    <div class="login_form">
      <form id="changePasswordForm" th:action="@{/change-password}" method="post">
        <div class="item">
          <input type="password" id="currentPassword" name="currentPassword" class="login_input pw" placeholder="현재 비밀번호" required>
        </div>
        <div class="item">
          <input type="password" id="newPassword" name="newPassword" class="login_input pw" placeholder="새 비밀번호" required>
        </div>
        <div class="item">
          <input type="password" id="confirmNewPassword" name="confirmNewPassword" class="login_input pw" placeholder="새 비밀번호 확인" required>
        </div>
        <div class="btn_wrap">
          <button type="submit" class="btn_login">확인</button>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>
