<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>동서식품</title>
  <script th:src="@{Scripts/jquery-3.3.1.min.js}"></script>
  <script th:src="@{Scripts/optionjs.js}"></script>
  <script th:src="@{Scripts/event.js}"></script>
  <script th:src="@{Scripts/start.js}"></script>
  <script th:src="@{Scripts/menu.js}"></script>
  <script th:src="@{Scripts/withLongview.js}"></script>
  <link th:href="@{CSS/root.css}" rel="stylesheet" />
  <link th:href="@{CSS/menu.css}" rel="stylesheet" />
  <link th:href="@{CSS/start.css}" rel="stylesheet" />
</head>
<body>

</body>
</html>
