<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!--<link rel="manifest" href="images/favicon/manifest.json"/>-->
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#ffffff"/>
  <meta name="theme-color" content="#ffffff"/>
  <title>가온그룹</title>
  <script th:src="@{Scripts/jquery-3.3.1.min.js}"></script>
  <script th:src="@{Scripts/optionjs.js}"></script>
  <script th:src="@{Scripts/event.js}"></script>
  <script th:src="@{Scripts/start.js}"></script>
  <script th:src="@{Scripts/menu.js}"></script>
  <script th:src="@{Scripts/withLongview.js}"></script>
  <script th:src="@{Scripts/logout.js}"></script>
  <link th:href="@{CSS/root.css}" rel="stylesheet" />
  <link th:href="@{CSS/menu.css}" rel="stylesheet" />
  <link th:href="@{CSS/start.css}" rel="stylesheet" />
</head>
<body>

</body>
</html>
